tinc:
  network:
    mynet:
      type: mesh # "mesh" or "central"
      conf:
        local:
          # See options from https://www.tinc-vpn.org/documentation/tinc.conf.5
          # Predefined/Unchangeable Keys: Name, ConnectTo
          # Required: Port, Mode
          AddressFamily: "any"
          Mode: "switch"
          Port: 1160
        host:
          # See options from https://www.tinc-vpn.org/documentation/Host-configuration-variables.html
          # Predefined Keys: Address
          # Required: Port, Subnet
          # Port value must match the value defined in "local"
          Cipher: aes-128-cbc
          Compression: 0
          Port: 1160
          Subnet: 10.5.0.0/16
        scripts:
          tinc-up:
            - dhclient {interface}
          tinc-down: []
      node:
        Vivian.remote.alinuxninjasrv:
          ip:
            public: 192.168.2.1
            local: 10.5.1.10/255.255.255.0
        cr02.startledphoenixsrv:
          ip:
            public: 192.168.2.1
            local: 10.5.1.10/255.255.255.0
          conf:
            local:
              Port: 5200
            host:
              Port: 5200
          master: True
